{{#if nextDay}}
  <div class="row">
    <div class="large-12 columns">
      <h3>Nächster Spieltag <small>{{nextDay}}</small></h3>
    </div>
  </div>

  {{#each controller.nextMatches}}
  {{partial 'match'}}
  {{/each}}
{{/if}}

{{#if prevDay}}
  <div class="row">
    <div class="large-12 columns">
      <h3>Letzter Spieltag <small>{{prevDay}}</small></h3>
    </div>
  </div>

  {{#each controller.playedMatches}}
  {{partial 'match'}}
  {{/each}}
{{/if}}
