<div class="row">
  <div class="large-12 columns">
    <h3>Nächster Spieltag<small>Thu Jun 12 2014 22:00:00 GMT+0200</small></h3>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <div class="alert-box">Thu Jun 12 2014 22:00:00 GMT+0200</div>
      <table class="match">
        <tbody>
          <tr>
            <td class="team A">
              <p><img src="//upload.wikimedia.org/wikipedia/commons/thumb/0/05/Flag_of_Brazil.svg/320px-Flag_of_Brazil.svg.png" class="flag big"></p>
              <p class="country">Brasilien</p>
            </td>
            <td class="score">
              <h6>Tipp abgeben</h6>
              <p class="tip"><span>
                  <input type="text" placeholder="-" maxlength="1" value="" class="tip"></span>
                  <span>&nbsp;:&nbsp;</span><span>
                  <input type="text" placeholder="-" maxlength="1" value="" class="tip"></span></p>
            </td>
            <td class="team B">
              <p><img src="//upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Flag_of_Croatia.svg/320px-Flag_of_Croatia.svg.png" class="flag big"></p>
              <p class="country">Kroatien</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>