doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/styles.css')
    script(src='/javascripts/header.js')
  body

    block content

    .row
      .large-12.text-center
        hr
        small &copy 2014 - Romeo Disca

    script(src='/javascripts/footer.js')
