extends layout

include _includes/displayScore

block content
  .row
    .large-12.columns
      h1= title
        small= subtitle

  .row
    .large-12.columns
      h3 N&auml;chster Spieltag
        small= nextMatches[0].date

  each match in nextMatches

    +displayScoreRow(match)

  .row
    .large-12.columns
      h3 Letzter Spieltag
        small 11. Juni

  each match in playedMatches

    +displayScoreRow(match)
