doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/app.css')
    script(src='/javascripts/vendor/modernizr.js')
  body
    block content

    script(src='/javascripts/vendor/jquery.js')
    script(src='/javascripts/vendor/foundation.min.js')
    script(src='/javascripts/foundation.app.js')
